<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>858915674378-d8uodf459trt8o2fpq1k7a8m0ph9h6kl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.858915674378-d8uodf459trt8o2fpq1k7a8m0ph9h6kl</string>
	<key>API_KEY</key>
	<string>AIzaSyCUgO-JKKRb5mtooOmOHIcS7N5Ulx5q874</string>
	<key>GCM_SENDER_ID</key>
	<string>858915674378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jinn.SmokingTimer</string>
	<key>PROJECT_ID</key>
	<string>smokingtimer-2277e</string>
	<key>STORAGE_BUCKET</key>
	<string>smokingtimer-2277e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:858915674378:ios:861f5d47a8c750976282f3</string>
	<key>DATABASE_URL</key>
	<string>https://smokingtimer-2277e.firebaseio.com</string>
</dict>
</plist>